/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
.mat-stepper-horizontal, .mat-stepper-vertical {
    background-color: unset !important;
}
.mat-step-header .mat-step-icon {
    background-color: #079669 !important;
    color: #fff !important;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
