<button *ngIf="type === 'next'" mat-button matStepperNext  class="rounded-md h-10 bg-green-600 px-6 py-1.5 text-sm text-white shadow-sm hover:bg-green focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 w-full" type="submit">
 Continue 
</button>
<button *ngIf="type === 'previous'" mat-button matStepperPrevious class="rounded-md h-10 bg-green-600 px-6 py-1.5 text-sm text-white shadow-sm hover:bg-green focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 w-full" type="submit">
    Return
</button>
